extends layout

block content
  section#my_groups
    h1 Groups

    if groups.length
      ul
        each group in groups
          li
            label(for='#{group}') #{group}
              input(type='checkbox', for='#{group}', value='#{group}')
      
    else
      p There are no groups!


  if email
    section#new_group
      h2 Create a New Group
      ul#main_form
        li
          form(method='post', action='/groups', name='create_group')
            label(for='group') Group Name
            input(type='text', id='group', name='group', placeholder='My New Group')
            input(type='submit', value='Create Group')
    
      if group_name
        p #{group_name} created.


